@media screen and (max-width: 360px)
{
    .content_area{
        margin: 2%;
    }
    .welcome_section{
        width: 100%;
        height: auto;
        background: url(../images/php_code.png) no-repeat;
    }
    .web_development,.mobile_applications,.tech_marketing{
        width: 100%;
        height: auto;
        display: block;
        margin: 2%;
    }
    .contact_about{
        width: 100%;
        height: auto;
    }       
}

/** 768px(min) to 1024(max) screen resolution **/

/**
@media screen and (max-width: 360px)
{
    .content_area{
        margin: 2%;
    }
    
}
@media screen and (max-width: 360px){
	.welcome_section{
        width: 100%;
        height: auto;
        background: url(../images/php_code.png) no-repeat;
	}
}
@media screen and (max-width: 360px){
	.web_development,.mobile_applications,.tech_marketing{
        width: 100%;
        height: auto;
        display: block;
        margin: 2%;
	}  
}
@media screen and (max-width:360px){
    .contact_about{
        width: 100%;
        height: auto;
    }
}
**/