.content_area
{
    margin: 0px 300px;       
}

/** TOP SECTION **/

.logo,.call_us.mail_us,.con
{
    width: 17%;
}

/** PROFILE SECTION STYLING **/


/** 1. PERSONAL PROFILE STYLING **/


.personal_profile
{
    width: 15%;
    height: 450px;
    border: 1px black;
    background-color: #f24423;
    color: white;
    align-content: center;
    display: inline-block;
}
.list_style
{
    list-style-type: none;
    line-height: 2.5em;
}

/** 2. EACH PROFILE STYLING **/

/** **/

.each_profile
{
    padding: 0px 8px;
}
.profile_one,.profile_two
{
    width: 75%;
    height: 300px;
    border: 1px solid grey;
    vertical-align: top;
    display: inline-block;
}
.profile_pic
{
    text-align: center;
    padding: 0px 8px;
    width: 23%;
    float: left;
}
.details 
{
    width: 48%;
    float: left;
}
.status
{
    width: 24%;
    margin: 1px 5px;
    float: left;
}
.buttons button
{
    border-radius: 10px;
    background-color: #ee8972;
    margin-top: 10px;
    padding: 5px 15px;
}
.buttons ul
{
    list-style-type: none;
}


/** ABOUT KONGU VANNIYAR MATRIMONY  **/

.about_kongu_vanniyar
{
    display: inline-block;
}
.about_kongu_vanniyar ul
{
    list-style-type: none;
}
.about
{
    width: 39%;
    display: inline-block;
    list-style-type: none;
}
.help
{
    width: 19%;
    display: inline-block;
}
.quick_links
{
    width: 19%;
    display: inline-block;
    list-style-type: none;
}
.links
{
    width: 9%;
    display: inline-block;
}