.content_area
{
    margin: 0px 200px;       
}

/** TOP SECTION **/

.logo,.call_us.mail_us,.con
{
    width: 17%;
}
.mail_us
{
    width: 20%;
}
.personal_profile
{
    width: 19%;
    height: 350px;
    border: 1px black;
    background-color: #f24423;
    color: white;
}
.personal_profile_contents
{
    padding: 2px 6px 4px 6px;
    background: url(../images/matches/side-bar-profile.png) no-repeat;
}
.profiles
{
    width: 80%;
}
.list_style
{
    list-style-type: none;
    line-height: 2.5em;
}