.content_area
{
    margin: 0px 300px;       
}

/** TOP SECTION **/

.logo,.call_us.mail_us,.con
{
    width: 17%;
}

/** PROFILE SECTION STYLING **/


/** 1. PERSONAL PROFILE STYLING **/


.personal_profile
{
    width: 15%;
    height: 450px;
    border: 1px black;
    background-color: #f24423;
    color: white;
    align-content: center;
    display: inline-block;
}
.list_style
{
    list-style-type: none;
    line-height: 2.5em;
}

/** 2. EACH PROFILE STYLING **/

.each_profile
{
    padding: 0px 8px;
}
.profiles
{
    width: 75%;
    height: 300px;
    border: 1px solid grey;
    display: inline-block;
    vertical-align: top;
}
.profile_pic
{
    text-align: center;
    padding: 0px 8px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
}
.details 
{
    width: 30%;
    border: 1px solid black;
    display: inline-block;
}
.status
{
    width: 30%;
    border: 1px solid black;
    display: inline-block;
}
.status button
{
    border: 2px solid black;
    border-radius: 2px;
    background-color: #ee8972;
}
