.Box_one
{
    /* TOP RIGHT BOTTOM LEFT*/
    margin: 10% 0% 10% 20%;
    width: 15%;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
    background: url(./images/image_one.png) no-repeat right bottom;
}
.Box_two
{
    margin: 10% 0% 10% 0%;
    width: 15%;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
}
.Box_three
{
    margin: 10% 0%;
    width: 15%;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
}
.Box_four
{
    margin: 10% 0%;
    width: 15%;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
}