body
{
    background-color: lightgrey;
}.content-area
{
    margin: 0% 20%;
}
.box_one,.box_two,.box_three,.box_four
{
    /* TOP RIGHT BOTTOM LEFT*/
    margin: 0% 0% 0% 0%;
    width: 24%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}
.box_one h3,.box_two h3,.box_three h3,.box_four h3{
    margin: 0px;
    font-size: 30px;
    padding: 10px 10px;
}
.box_one p,.box_two p,.box_three p,.box_four p{
    font-size: 22px;
    padding: 3px 10px;
}
.box_one img,.box_three img{
    padding: 5px 10px;
}
/**All the boxes have the same css **/
/** Multiple class css **/