/** BODY **/
body
{
    color: thistle;
}
/** BANNER IMAGE **/
.banner
{
    border: 1px solid black;
    margin: 2px 200px;
    background-image: url(../images/banner.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}