.content_area
{
    margin: 10% 2%;
}
.grid_boxes
{
    width: 16.35%;
    height: 250px;
    display: inline-block;
    border: 1px solid lightgray;
    /*vertical align top should be used for th boxes that has images and text*/
    vertical-align: top;
}
.grid_boxes img
{
    margin-top: 5px;
}
.grid_boxes h3   
{
    margin: 2px 2px;
    font-size: 25px;
}
.grid_boxes ul
{
    padding: 0px;
    margin: 0%;
}
.grid_boxes ul li{
    line-height: 2;
    font-size: 20px;
    list-style: none;
}
