.outer_layout
{
    margin: 0px 500px; 
}
.image_agent
{
    background-image: url("../image/agent.gif") center;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}
.image_conseiller
{
    background-image: url("../image/Conseillers.gif") center;
    background-repeat: no-repeat;
    width: 526px;
    height: 460px;
}