.outer_layout
{
    margin: 0px 500px; 
}
.image_agent
{
    background: url("../image/agent.gif") no-repeat center;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}
.image_conseiller
{
    background: url("../image/Conseillers.gif") no-repeat center;
    background-repeat: no-repeat;
    width: 526px;
    height: 460px;
}
.mon_compte
{
    color: white;
    padding: 50px 10px;
}
.bg
{
    background:#4fcdc6;
}
