/** BACKGROUND COLORS **/
.bg-primary
{
    background-color: #c63830;
}
.bg_color
{
    background-color: #e9eef7;
}
/** CUSTOMER AGENT BAR CSS **/
.customer_agent_login 
{
    color: white;
}
/** BOXES **/
.border
{
    padding-right: 0px;
    padding-left: 0px;
}
.starting_point
{
    
}