/** BACKGROUND COLORS **/
.bg-primary
{
    background-color: #c63830;
}
.bg_color
{
    background-color: #e9eef7;
}
/** CUSTOMER AGENT BAR CSS **/
.customer_agent_login 
{
    color: white;
}
/** BOXES **/
.border
{
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}
/** IMAGE SET ONE **/
.image_one
{
    background-image: url("../images/1.png");
    background-repeat: no-repeat center;
    width: 176px;
    height: 176px;
}
.image_one:hover
{
    background-image: url("../images/1-1.png");
}
/** FORMS **/
.form
{
    background: lightgray;
    text-align: center;
    padding: 8px 12px;
}
.form input
{
    border-radius: 10px;
    color:lightslategray;
    background: white;
}
.form button
{
    border-radius: 10px;
    background:#c63830;
    color:#fff;
    padding: 3px 15px;
}
/** GET IN TOUCH **/
.get_in_touch h2
{
    color: grey;    
}
footer
{
    text-align: center;
    background: #c63830;
    color:#fff;
}